<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528720506621-vl820tm3gahvt9jk2u56akj2l1mf0obk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528720506621-vl820tm3gahvt9jk2u56akj2l1mf0obk</string>
	<key>API_KEY</key>
	<string>AIzaSyDFvEiSFb2rqJV4kOYkxYZQ5nUhtYLR_Zw</string>
	<key>GCM_SENDER_ID</key>
	<string>528720506621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.filabusi.apple.Filabusi</string>
	<key>PROJECT_ID</key>
	<string>filabusi-moving</string>
	<key>STORAGE_BUCKET</key>
	<string>filabusi-moving.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528720506621:ios:de7c7c49fa82279e0ed894</string>
</dict>
</plist>